<section class='py-16 md:py-24'>
  <div class='container'>
    <div class='max-w-[80ch] grid gap-4 mb-8'>
      <h2 class='text-2xl font-bold rounded-xl flex gap-2 items-center'>
        <div
          class='w-8 h-8 bg-transparent rounded-full border-4 border-secondary flex items-center justify-center'
        >
          <div class='bg-secondary h-4 w-4 rounded-full'></div>
        </div>
        Proceso de trabajo
      </h2>
      <h3 class='text-3xl'>
        De proyectos integrales a mejoras puntuales,
        <strong class='text-primary'> así es como creamos valor juntos </strong>
      </h3>
      <p class='text-lg'>
        Nos adaptamos a las necesidades únicas de cada cliente, ya sean startups
        innovadoras, PyMEs en crecimiento o corporaciones establecidas. Descubre
        cómo nuestra experiencia y enfoque personalizado pueden impulsar tu
        presencia digital y potenciar tu negocio.
      </p>
    </div>
  </div>
</section>
