---
interface Props {
  items: { href: string; label: string; target?: string }[];
}

const { items } = Astro.props;
---

<ul class='flex flex-col gap-2'>
  {
    items.map((item) => (
      <li>
        <a
          href={item.href}
          target={item.target}
          class='text-primary-light font-bold transition-color duration-300 hover:text-white'
        >
          {item.label}
        </a>
      </li>
    ))
  }
</ul>
