---
interface Props {
  style?: string;
  class: string;
  href: string;
}

const { href, style, class: className } = Astro.props;
---

<a
  class={`rounded-3xl bg-cover bg-no-repeat shadow-sm transition-all ease-in-out hover:scale-105 hover:shadow-2xl ${className}`}
  href={href}
  style={style}
>
  <slot />
</a>
