---
interface Props {
  style?: string;
  class: string;
}

const { style, class: className } = Astro.props;
---

<a
  class={`rounded-3xl bg-cover bg-no-repeat shadow-sm ${className}`}
  href='/'
  style={style}
>
  <slot />
</a>
