---
import MobileMenu from '@components/blocks/MobileMenu.astro';
import MenuItem from '@components/elements/MenuItem.astro';
import MenuToggle from '@components/elements/MenuToggle.astro';

type Props = {
  title: string;
  menu_items: NAV_ITEM[];
};

const { title, menu_items } = Astro.props;
---

<header class='container absolute top-4 left-0 right-0 z-50 md:top-8'>
  <div
    class='flex items-center justify-between w-full max-w-3xl mx-auto p-4 rounded-full border border-primary bg-amber-50 backdrop-filter backdrop-blur-lg bg-opacity-70'
  >
    <a href='/' class='font-bold font-primary text-2xl'>{title}</a>

    <MenuToggle />

    <ul class='hidden gap-4 md:flex'>
      {
        menu_items.map((item) => (
          <MenuItem href={item.href} variant='desktop'>
            {item.name}
          </MenuItem>
        ))
      }
    </ul>
  </div>
</header>

<MobileMenu menu_items={menu_items} />

<script>
  const openMenuButton = document.querySelector('.toggle-menu');
  const closeMenuIcon = document.querySelector('.toggle-menu__close');
  const openMenuIcon = document.querySelector('.toggle-menu__open');

  if (openMenuButton) {
    openMenuButton.addEventListener('click', () => {
      const menuMobile = document.querySelector('.menu-mobile');

      if (menuMobile) {
        menuMobile.classList.toggle('-top-96');
        menuMobile.classList.toggle('top-24');
      }

      if (closeMenuIcon && openMenuIcon) {
        closeMenuIcon.classList.toggle('hidden');
        openMenuIcon.classList.toggle('hidden');
      }
    });
  }
</script>
