---
interface Props {
  href: string;
  variant: 'desktop' | 'mobile';
}

const { href, variant = 'mobile' } = Astro.props;

const classes = {
  desktop: '',
  mobile: 'text-2xl',
};

const classList = classes[variant] || '';
---

<li>
  <a
    href={href}
    class={`font-bold transition-colors hover:text-secondary ${classList}`}
  >
    <slot />
  </a>
</li>
