---
import Close from '@components/icons/Close.astro';
import Menu from '@components/icons/Menu.astro';
---

<button class='toggle-menu rounded-full md:hidden'>
  <Menu class='toggle-menu__open' />
  <Close class='toggle-menu__close hidden' />
</button>
