---
import Layout from '@components/Layout.astro';
---

<Layout title='Javier Miz - CV'>
  <main
    class='container max-w-[80ch] flex flex-col gap-8 py-16 md:pt-44 md:pb-24'
  >
    <section class='text-center'>
      <h1 class='text-4xl font-primary'>Javier Miz Arévalo</h1>
      <p class='font-bold mb-2'>Desarrollador web Frontend</p>
      <span>
        Ingeniería de Sistemas Computacionales de la Universidad de Montemorelos
        - 2019
      </span>
    </section>

    <section>
      <h2 class='text-xl font-bold bg-pink-200 py-2 px-4 rounded-xl mb-4'>
        Sobre mi
      </h2>
      <ul class='list-disc list-inside flex flex-col gap-2'>
        <li>
          <strong>+5 años de experiencia en desarrollo web frontend.</strong>
        </li>
        <li>
          <strong>+3 años trabajando con equipos en inglés</strong>
        </li>
        <li>Experimentado con HTML, CSS y JavaScript.</li>
        <li><strong>Fuerte enfoque en ReactJs.</strong></li>
        <li>Inclinación por el desarrollo de interfaces.</li>
        <li>
          Historial comprobado en el desarrollo de sitios web y aplicaciones de
          una sola página.
        </li>
        <li>
          Compromiso con las mejores prácticas y entrega de código limpio y de
          alta calidad.
        </li>
        <li>Excelentes habilidades para resolver problemas y colaborar.</li>
        <li>Consistente cumplimiento con los plazos del proyecto.</li>
      </ul>
    </section>

    <section>
      <h2
        class='flex justify-between text-xl font-bold bg-primary py-2 px-4 rounded-xl mb-4'
      >
        Klever Cookie<span>2021 - 2023</span>
      </h2>
      <h3
        class='font-bold text-lg bg-pink-100 px-4 rounded-lg inline-block mb-2'
      >
        Frontend Developer
      </h3>
      <h4 class='font-bold mb-2'>Responsabilidades:</h4>
      <ul class='list-disc pl-8 flex flex-col gap-2 mb-4'>
        <li>
          Líder Desarrollador Frontend y de Javascript para el sitio web de la
          empresa, responsable de construir y mantener un sitio web receptivo y
          visualmente atractivo utilizando NextJs.
        </li>
        <li>
          Colaboré con otros desarrolladores y diseñadores para crear sitios web
          escalables y receptivos que satisfagan las necesidades de los
          clientes.
        </li>
        <li>
          Desarrollé nuevas características para una aplicación de clase
          empresarial con VueJs, a pesar de no tener experiencia previa con el
          framework.
        </li>
        <li>
          Construí sitios personalizados de WordPress para clientes,
          aprovechando las características de WordPress para crear sitios web
          hermosos y funcionales.
        </li>
        <li>
          Integré APIs con aplicaciones frontend para obtener un entendimiento
          más profundo de los procesos de desarrollo full-stack.
        </li>
        <li>
          Mejoré las habilidades de comunicación y resolución de problemas
          trabajando en un entorno de equipo.
        </li>
      </ul>
      <p>
        <strong>Environment:</strong> NextJs, ReactJs, Typescript, VueJs, HTML, CSS,
        Wordpress
      </p>
    </section>

    <section>
      <h2
        class='flex justify-between text-xl font-bold bg-primary py-2 px-4 rounded-xl mb-4'
      >
        Freelance <span>2020 – 2022</span>
      </h2>
      <h3
        class='font-bold text-lg bg-pink-100 px-4 rounded-lg inline-block mb-2'
      >
        Frontend Developer
      </h3>

      <h4 class='font-bold mb-2'>Responsabilidades:</h4>

      <ul class='list-disc pl-8 flex flex-col gap-2 mb-4'>
        <li>
          Desarrollador Frontend Líder para el desarrollo de una Aplicación de
          Página Única con ReactJs, donde creé componentes reutilizables con
          props y diseñé toda la interfaz de la aplicación móvil.
        </li>
        <li>
          Desarrollé una Aplicación Móvil utilizando Angular e Ionic y la
          desplegué en Android con capacitor, lo que implicó implementar lógica
          CRUD con la base de datos NoSQL de Firebase Firestore y utilizar la
          API de Google Maps para obtener y establecer ubicaciones.
        </li>
        <li>
          Proficiente en trabajar con herramientas de control de código fuente
          como Github, asegurando que el código estuviera bien mantenido y
          actualizado.
        </li>
        <li>
          Construcción de sitios web completos desde cero sin utilizar
          frameworks.
        </li>
        <li>
          Desarrollo y adaptación de sitios web desde HTML básico a PHP para
          trabajar con WordPress.
        </li>
        <li>
          Desarrollo de sitios web utilizando HTML 5, CSS3, JavaScript y
          Bootstrap.
        </li>
        <li>
          Desarrollo de temas de WordPress utilizando HTML 5, CSS3, JavaScript,
          Bootstrap y PHP.
        </li>
        <li>
          Experiencia con el diseño web responsivo utilizando consultas de
          medios CSS3 y frameworks frontend como Bootstrap.
        </li>
        <li>
          Trabajo con herramientas de control de código fuente como Github.
        </li>
        <li>Experiencia con el preprocesador de CSS SASS.</li>
      </ul>
      <p>
        <strong>Environment:</strong> ReactJs, Angular, Ionic, Firebase, Github
      </p>
    </section>

    <section>
      <h2
        class='flex justify-between text-xl font-bold bg-primary py-2 px-4 rounded-xl mb-4'
      >
        NETT <span>2018 – 2021</span>
      </h2>
      <h3
        class='font-bold text-lg bg-pink-100 px-4 rounded-lg inline-block mb-2'
      >
        Frontend Developer
      </h3>

      <h4 class='font-bold mb-2'>Responsabilidades:</h4>

      <ul class='list-disc pl-8 flex flex-col gap-2 mb-4'>
        <li>
          Desarrollé aplicaciones móviles utilizando el framework de JavaScript
          ReactJs con Ionic.
        </li>
        <li>
          Creé componentes reutilizables con props y manejadores de eventos en
          ReactJs.
        </li>
        <li>
          Demostré proficiencia con el framework ReactJs y sus principios
          básicos como componentes y el DOM virtual.
        </li>
        <li>
          Utilicé herramientas modernas de desarrollo como Webpack y Git para un
          flujo de trabajo y colaboración eficientes.
        </li>
        <li>
          Desarrollé componentes front-end utilizando ReactJs y TypeScript.
        </li>
        <li>
          Diseñé y desarrollé sitios web utilizando HTML 5, CSS3, JavaScript,
          Bootstrap y NPM.
        </li>
        <li>
          Empleé Chrome Developer Tools y Firebug para depurar y solucionar
          problemas de código.
        </li>
        <li>
          Implementé diseño web responsivo con consultas de medios CSS3 y
          frameworks front-end como Bootstrap.
        </li>
        <li>
          Utilicé Node Package Manager (NPM) para una gestión eficiente de
          paquetes en aplicaciones.
        </li>
        <li>
          Trabajé con herramientas de control de código fuente como Github,
          Gitlab y SourceTree para control de versiones.
        </li>
        <li>Demostré proficiencia con el preprocesador de CSS SASS.</li>
        <li>
          Adapté sitios web desde HTML básico a PHP y desarrollé temas de
          WordPress utilizando HTML 5, CSS3, JavaScript, Bootstrap y PHP.
        </li>
      </ul>
      <p>
        <strong>Environment:</strong> HTML5, CSS3, JavaScript, TypeScript, Bootstrap,
        Wordpress, Node Js, SASS, Visual Studio Code, Github, Gitlab
      </p>
    </section>
  </main>
</Layout>
