<div
  class='absolute top-0 left-1/2 -translate-x-1/2 h-full bg-white bg-[radial-gradient(black_1px,transparent_1px)] [background-size:16px_16px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_60%,transparent_100%)] -z-10 aspect-square rotate-45 opacity-15'
>
</div>
