---
interface Props {
  primaryButtonLink?: string;
}

const { primaryButtonLink } = Astro.props;
---

{
  primaryButtonLink && (
    <a
      href={primaryButtonLink}
      class='inline-flex items-center justify-center rounded-full py-3 px-8 text-xl bg-primary font-semibold
    hover:scale-125 transition-transform ease-in-out'
    >
      <slot />
    </a>
  )
}
