---
interface Props {
  catchTitle: string;
}

const { catchTitle } = Astro.props;
---

<h1
  class='text-6xl md:text-7xl lg:text-8xl xl:text-9xl font-primary uppercase !leading-[0.8em]'
>
  <slot />

  {catchTitle && <span class='text-primary'>{catchTitle}</span>}
</h1>
