<section class='py-16 md:py-24'>
  <div class='container'>
    <div class='rounded-3xl text-center'>
      <h2
        class='text-4xl font-primary text-balance uppercase md:text-6xl lg:text-8xl'
      >
        Creo soluciones web centradas en las <span
          class='inline-block bg-gradient-to-r from-secondary via-primary to-secondary text-transparent bg-clip-text'
        >
          necesidades humanas
        </span>
      </h2>
    </div>
  </div>
</section>
