---
import { QUOTE } from '@constants/home';
---

<section class='py-16 md:py-24'>
  <div class='container text-center'>
    <h2
      class='text-4xl font-primary text-balance uppercase md:text-6xl lg:text-8xl'
    >
      {QUOTE.text}
      <span
        class='block bg-gradient-to-r from-secondary via-primary to-secondary text-transparent bg-clip-text'
      >
        {QUOTE.decorated_text}
      </span>
    </h2>
  </div>
</section>
