---
import { QUOTE } from '@constants/home';
---

<section>
  <div class='container text-center'>
    <div
      class='bg-gradient-to-bl from-primary-light via-primary to-primary-light text-white rounded-4xl py-16 md:py-24'
    >
      <h2 class='text-3xl font-primary text-balance uppercase mb-4 md:text-6xl'>
        {QUOTE.text}
        <span class='block'>
          {QUOTE.decorated_text}
        </span>
      </h2>
      <p class='text-xl max-w-[50ch] mx-auto'>
        Desarrollo soluciones web que no solo impresionan, sino que impulsan
        resultados tangibles para tu negocio.
      </p>
    </div>
  </div>
</section>
