---
import Banorte from '@components/icons/brands/Banorte.astro';
import TheHomeDepot from '@components/icons/brands/TheHomeDepot.astro';
import IBM from '@components/icons/brands/IBM.astro';
import KleverCookie from '@components/icons/brands/KleverCookie.astro';
---

<section>
  <div class='container'>
    <h2 class='text-3xl font-bold font-primary text-center mb-8'>
      He trabajado con:
    </h2>

    <div class='flex justify-between gap-4 text-black'>
      <TheHomeDepot class='max-w-24' />

      <Banorte class='max-w-56' />

      <IBM class='max-w-36' />

      <KleverCookie class='max-w-36 grayscale' />
    </div>
  </div>
</section>
