---
import Layout from '@components/Layout.astro';
import { Image } from 'astro:assets';
---

<Layout title='Javier Miz - Portfolio'>
  <section class='pt-32 lg:pt-40'>
    <div class='container'>
      <div class='grid grid-cols-3 gap-6'>
        <a href='/portfolio/adrienne-landau'>
          <div class='bg-white rounded-3xl'>
            <img src='' />
            <h2>Adrienne Landau</h2>
          </div>
        </a>
      </div>
    </div>
  </section>
</Layout>
