---
import Layout from '@components/Layout.astro';

const projects = Object.values(
  await import.meta.glob('./**/*.md', { eager: true })
);
console.log('hello', projects);
---

<Layout title='Javier Miz - Portfolio'>
  <section class='pt-32 lg:pt-40'>
    <div class='container'>
      <div class='grid grid-cols-3 gap-6'>
        {
          projects.map((project: any) => (
            <a href={project.url}>
              <div class='bg-white rounded-3xl'>
                <h1>{project.frontmatter.title}</h1>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
